﻿@model WebApplication1.Models.Auction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.starting_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starting_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.open_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.open_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.close_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.close_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.increment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.increment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastBid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastBid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @HtmlHelpers.showimage(Model.image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
