﻿@model WebApplication1.Models.AuctionDetailModelView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">


    <div class="col-md-3">
        @Html.DisplayFor(ModelItem => @Model.auction)
    </div>

    <br />
    <div class="col-md-3">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <center><h3 class="panel-title">Last bids</h3></center>
            </div>
            <div class="panel-body">
                <center><p><h4><b style="visibility:hidden" id='user1-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user2-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user3-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user4-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user5-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user6-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user7-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user8-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user9-@Model.auction.id'></b></h4></p></center>
                <center><p><h4><b style="visibility:hidden" id='user10-@Model.auction.id'></b></h4></p></center>

            </div>
        </div>
    </div>


</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/custom_scripts/custom_scripts.js")
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@{
    var first = Model.bids[0];
    var second = Model.bids[1];
    var third = Model.bids[2];
    var fourth = Model.bids[3];
    var fifth = Model.bids[4];
    var sixth = Model.bids[5];
    var seventh = Model.bids[6];
    var eighth = Model.bids[7];
    var ninth = Model.bids[8];
    var tenth = Model.bids[9];

}
<script>
    if ('@first' != "") {
        document.getElementById('user1-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user1-@Model.auction.id').innerHTML = '@first';
    }
    if ('@second' != "") {
        document.getElementById('user2-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user2-@Model.auction.id').innerHTML = '@second';
    }
    if ('@third' != "") {
        document.getElementById('user3-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user3-@Model.auction.id').innerHTML = '@third';
    }
    if ('@fourth' != "") {
        document.getElementById('user4-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user4-@Model.auction.id').innerHTML = '@fourth';
    }
    if ('@fifth' != "") {
        document.getElementById('user5-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user5-@Model.auction.id').innerHTML = '@fifth';
    }
    if ('@sixth' != "") {
        document.getElementById('user6-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user6-@Model.auction.id').innerHTML = '@sixth';
    }
    if ('@seventh' != "") {
        document.getElementById('user7-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user7-@Model.auction.id').innerHTML = '@seventh';
    }
    if ('@eighth' != "") {
        document.getElementById('user8-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user8-@Model.auction.id').innerHTML = '@eighth';
    }
    if ('@ninth' != "") {
        document.getElementById('user9-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user9-@Model.auction.id').innerHTML = '@ninth';
    }
    if ('@tenth' != "") {
        document.getElementById('user10-@Model.auction.id').style.visibility = 'visible';
        document.getElementById('user10-@Model.auction.id').innerHTML = '@tenth';
    }
</script>