﻿@model PagedList.IPagedList<WebApplication1.Models.Auction>
@using PagedList.Mvc;
@using WebApplication1.Helpers;

@{
    ViewBag.Title = "Index";
}
<h2> </h2>

@if (ViewBag.Role == "Admin") {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<div id='@User.Identity.Name' , style="visibility:hidden"> @User.Identity.Name</div>


<nav class="navbar navbar-default" style="margin-top:50px">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            @using (Html.BeginForm("Index", "Auctions", FormMethod.Get))
            {
                var items = new List<SelectListItem>()
                {
                    new SelectListItem() { Text = "All", Value = "All" },
                    new SelectListItem() { Text = "READY", Value = "READY" },
                    new SelectListItem() { Text = "OPEN", Value = "OPEN" },
                    new SelectListItem() { Text = "SOLD", Value = "SOLD" },
                    new SelectListItem() { Text = "EXPIRED", Value = "EXPIRED" },
                };

                <div class="row">
                    <label class="col-md-1 control-label" style="text-align:right">State:</label>
                    <div class="col-md-2">
                        @Html.DropDownList("State", items, null, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-1 control-label" style="text-align:right">Name:</label>
                    <div class="col-md-2">
                        @Html.TextBox("name", null, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-1 control-label" style="text-align:right">Min Price:</label>
                    <div class="col-md-1">
                        @Html.TextBox("min", null, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-1 control-label" style="text-align:right">Max Price:</label>
                    <div class="col-md-1">
                        @Html.TextBox("max", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-primary" type="submit" value="Search" />
                    </div>

                </div>
            }
        </div>
    </div>
</nav>

<div class="row">
    @foreach (var item in Model)
    {

        if (item.deleted == false)
        {
            {
                <div class="col-md-3">
                    @Html.DisplayFor(ModelItem => item)
                </div>
            }
        }
    }
</div>
<br />


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))



<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/custom_scripts/custom_scripts.js")
}