﻿@model WebApplication1.Models.Auction

<br />

<form class="form-horizontal" style="background-color:#F5F5F5" id="formHolder-@Model.id">
    <fieldset>
        <legend style="padding-left:10px">
            <div id='tmppanelColorPlace-@Model.id'>
            @Html.ActionLink(@Model.productName, "Details", new { id = Model.id })
            </div>
        </legend>
        @{
            if (Model.image != null)
            {
            <div class="form-group">
                <center>
                            @HtmlHelpers.showimage(Model.image)
                </center>
            </div>
            }
        }

        <div class="form-group" style="font-size:larger">
            <div class="col-lg-12">
                <center><h5><b>$</b><b id='priceHolder-@Model.id'>@Model.starting_price </b> </h5></center>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12">
                <center><b style="visibility:hidden" id='lastBidHolder-@Model.id'>@Model.lastBid</b></center>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <center><p><button class="btn btn-default btn-block" type="button" style="visibility:hidden" id='timeStateHolder-@Model.id'>@Model.state</button></p></center>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="form-group">
        @if(User.IsInRole("Admin"))
        {
            <div class="col-lg-1"></div>

            <div class="col-lg-10">
                <center><button type="button" class="btn btn-success btn-block" style="visibility:hidden" id='openBtnHolder-@Model.id' onclick="openAuction(@Model.id)">Open auction</button></center>
            </div>
            <div class="col-lg-1"></div>
        }
        </div>

        @if (ViewBag.Role != "NoAuth" && !(User.IsInRole("Admin")))
        {
        <div class="form-group">
            <div class="col-lg-1"></div>

            <div class="col-lg-10">
                <center><p><button type ="button" class="btn btn-success btn-block" style="visibility:hidden" id='bidBtnHolder-@Model.id' onclick="bid('@User.Identity.Name.ToString()', '@Model.id')">PLACE BID</button></p></center>
            </div>
            <div class="col-lg-1"></div>
        </div>
        }

            <div class="form-control">
        @if (ViewBag.Role == "Admin" && Model.state == WebApplication1.Models.AuctionState.READY)
        {
                @Html.ActionLink("Edit ", "Edit", new { id = Model.id })
                @Html.ActionLink("Delete", "Delete", new { id = Model.id })
        }
            </div>

    </fieldset>
</form>





@{
    int auctionTime = 0;
    if (Model.close_datetime != null) { auctionTime = (int)Model.close_datetime.Value.Subtract(DateTime.Now).TotalSeconds; }
    var timeOrState = "timeStateHolder-" + @Model.id;
    var buttonOpen = "openBtnHolder-" + @Model.id;
    var buttonBid = "bidBtnHolder-" + Model.id;
    var lastBid = "lastBidHolder-" + @Model.id;
    var lastBidValue = Model.lastBid;
    if (lastBidValue == null) lastBidValue = "ERROR";
    var state = Model.state;
}


@if (auctionTime > 0)
{
    <script>
        document.getElementById('@timeOrState').innerHTML = '@auctionTime';
        document.getElementById('@timeOrState').style.visibility = 'visible';
        if ('@User.IsInRole("Admin")' == 'True' && '@state.Equals("READY")' == 'True') { documentgetElementById('@buttonOpen').style.visibility = 'visible'; }
        var pom = document.getElementById('@buttonBid');
        if (pom != null) {
            document.getElementById('@buttonBid').style.visibility = 'visible';
        }
        document.getElementById('@lastBid').style.visibility = 'visible';



        timer_@Model.id = setInterval(function () {
            var t = document.getElementById('@timeOrState').innerHTML;
            if (t > 0) t--;
            document.getElementById('@timeOrState').innerHTML = t;
        }, 1000);


    </script>
}
else
{
    <script>
        if ('@state' == 'EXPIRED') {
            document.getElementById('@timeOrState').className = 'btn-danger btn btn-block';
            document.getElementById('@timeOrState').style.visibility = 'visible';
            if ('@User.IsInRole("Admin")' == 'True' && '@state.Equals("READY")' == 'True') {
                documentgetElementById('@buttonOpen').style.visibility = 'hiddel';
            }
        }
        else if ('@state' == 'SOLD') {
            document.getElementById('@timeOrState').className = 'btn-danger btn btn-block';
            var x = document.getElementById('@buttonOpen');
            if (x != null) {
                document.getElementById('@buttonOpen').style.visibility = 'hidden';
            }

        }
        var pom = document.getElementById('@buttonBid');
        if (pom != null) {
            document.getElementById('@buttonBid').style.visibility = 'hidden';
        }
        document.getElementById('@timeOrState').style.visibility = 'visible';
        document.getElementById('@timeOrState').innerHTML = '@state'
        if ('@state' == 'READY' && '@User.IsInRole("Admin")' == 'True') {
            document.getElementById('@buttonOpen').style.visibility = 'visible';
        }
    </script>
}
