﻿@model List<WebApplication1.Models.Order>
@{
    ViewBag.Title = "Your Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>All Orders</h2>
<br />
<br />

@foreach (var item in Model)
{

    <br />
    <table class="table table-striped table-hover ">

        <tbody>
            <tr>
                <td>Price: </td>
                <td>@item.price</td>
            </tr>
            <tr>
                <td>Number of tokens: </td>
                <td>@item.num_of_tokens</td>
            </tr>
            <tr>
                <td>Date and time of ordering: </td>
                <td>@item.create_datetime</td>
            </tr>
            <tr>
                <td>Status: </td>
                <td>@item.state</td>
            </tr>
        </tbody>
    </table>
    <br />
}
