﻿
@{
    ViewBag.Title = "PaymentSucc";
}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> You successfully payed for tokens!!! @Html.ActionLink("See your orders", "AllOrders")
</div>

<h1></h1>

@Html.ActionLink("Go back", "Profile")

