﻿
@{
    ViewBag.Title = "PaymentFail";
}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> Something went wrong. @Html.ActionLink("See orders", "AllOrders")
</div>

<h1></h1>

@Html.ActionLink("Go back", "Profile")
