﻿@model WebApplication1.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<script type="text/javascript" src="http://stage.centili.com/widget/js/c-mobile-payment-scripts.js"></script>

<div>
    <h4>@Html.DisplayFor(model => model.fname)  @Html.DisplayFor(model => model.lname)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Name:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            <p>Surname:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
             <p>Email:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       @if (!User.IsInRole("Admin"))
       {
        <dt>Remaining tokens:</dt>
        <dd>
            @Html.DisplayFor(model => model.tokens)
        </dd>
        <dt>All Orders:</dt>
        <dd>
            @Html.ActionLink("Your orders", "AllOrders")
        </dd>
        <dt>Won Auctions:</dt>
        <dd>
           @Html.ActionLink("Auctions you won", "WonAuctions")
        </dd>
        <dd>
        <dt>Buy Tokens:</dt>
<a id="c-mobile-payment-widget" href="http://stage.centili.com/widget/WidgetModule?api=e3638ad44a8782a22039689c523b888a&clientid=@Model.Id"><img src="https://www.centili.com/images/centili-widget-button.png" /></a>
        </dd>
       }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit profile", "EditProfile")|
    @Html.ActionLink("Back to List", "Index")
</p>

