﻿@model PagedList.IPagedList<WebApplication1.Models.Auction>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Won Auctions";
}

<h2>Won Auctions</h2>


<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-md-3">
            @Html.DisplayFor(ModelItem => item)
        </div>

    }
</div>
<br />


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))



<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.1.2.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/custom_scripts/custom_scripts.js")
}
